.menu {
	display: grid;
	grid-template-columns: 1fr 3fr 3fr 3fr;
	background-image: linear-gradient(white,white,#e6e6ff);
	text-align: center;
	margin-bottom: 10px;
}

body {
	background: pink;
	font-family: Chiaro;
}

a {
	text-decoration: none;
	color: pink;
}

@font-face {
  font-family: Chiaro;
  src: url(../font/FOT-ChiaroStd-B.otf);
}

.home:hover {
	background: pink;
	color: white;
}

.pictures:hover {
	background: pink;
	color: white;
}

.more:hover {
	background: pink;
	color: white;
}

.footer {
	background-image: linear-gradient(white,white,#e6e6ff);
	text-align: center;
	color: pink;
}

.imgee {
	height: 121vh;
	margin-bottom: 10px;
}

.text {
	height: 200vh;
	background: white;
	padding: 30px;
	letter-spacing: 2px;
}

h1 {
	text-align: center;
	color: black;
}

