.menu {
	display: grid;
	grid-template-columns: 1fr 3fr 3fr 3fr;
	background-image: linear-gradient(white,white,#e6e6ff);
	text-align: center;
	margin-bottom: 10px;
}

body {
	background: pink;
	font-family: Chiaro;
}

a {
	text-decoration: none;
	color: pink;
}

@font-face {
  font-family: Chiaro;
  src: url(../font/FOT-ChiaroStd-B.otf);
}

.pictures {
	background: pink;
	color: white;
}

.home:hover {
	background: pink;
	color: white;
}

.pictures:hover {
	background: pink;
	color: white;
}

.more:hover {
	background: pink;
	color: white;
}

.footer {
	background-image: linear-gradient(white,white,#e6e6ff);
	text-align: center;
	color: pink;
	height: 20vh;
}

.holder {
	display: grid;
	grid-gap: 10px;
	height: 400vh;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.pic {
	height: 50vh;
	border: 5px white dotted;
}

h1 {
	text-align: center;
}
